<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  	<servlet>
    	<servlet-name>danhsachsinhvien</servlet-name>
    	<jsp-file>/jsp/sinhvien.jsp</jsp-file>
	</servlet>
<!--mapping-->
	<servlet-mapping>
	    <servlet-name>danhsachsinhvien</servlet-name>
	    <url-pattern>/dssinhvien</url-pattern>   
	</servlet-mapping>
	<servlet>
    	<servlet-name>detail</servlet-name>
    	<jsp-file>/jsp/sinhviendetail.jsp</jsp-file>
	</servlet>
	
<!--mapping-->
	<servlet-mapping>
	    <servlet-name>detail</servlet-name>
	    <url-pattern>/detailsv</url-pattern>   
	</servlet-mapping>
	<servlet>
    	<servlet-name>createsinhvien</servlet-name>
    	<jsp-file>/jsp/createSinhvien.jsp</jsp-file>
	</servlet>
<!--mapping-->
	<servlet-mapping>
	    <servlet-name>createsinhvien</servlet-name>
	    <url-pattern>/createsinhvien</url-pattern>   
	</servlet-mapping>
		<servlet>
    	<servlet-name>infor</servlet-name>
    	<jsp-file>/jsp/information.jsp</jsp-file>
	</servlet>
<!--mapping-->
	<servlet-mapping>
	    <servlet-name>infor</servlet-name>
	    <url-pattern>/information</url-pattern>   
	</servlet-mapping>
		<servlet>
    	<servlet-name>update</servlet-name>
    	<jsp-file>/jsp/updateSinhvien.jsp</jsp-file>
	</servlet>
	
<!--mapping-->
	<servlet-mapping>
	    <servlet-name>update</servlet-name>
	    <url-pattern>/updatesv</url-pattern>   
	</servlet-mapping>
  <display-name>Session5</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>